<nav class="users-search">
  <label for='user-search-input'>Username</label>
    <input  class='user-search-input' 
      type="text" 
      name="username"
      placeholder='Enter a username'>
  <ul class="users"></ul>



</nav>